<div class="main">
  <div class="chrono">
    <p>{{title}}</p>
    <div class="stopwatch">
      <div class="hours">{{hours}}</div>
      <div class="minutes">{{minutes}}</div>
      <div class="seconds">{{seconds}}</div>
    </div>
    <div class="buttons">
      <div *ngIf="!isRunning" class="start" (click)="startChrono()">start</div>
      <div *ngIf="isRunning" class="stop" (click)="stopChrono()">stop</div>
      <div class="pause" (click)="dblCl($event)" #dblClick>pause</div>
      <div (click)="reset()" class="reset">reset</div>
    </div>
  </div>
</div>